.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;

  background-color: black;
  font-size: 30px;
  font-family: sans-serif;
  font-weight: 400;
  color: white;
}
body {
  background-color: whitesmoke;
}
.grid {
  display: flex;
  flex-wrap: wrap;
  font-family: sans-serif;
}

.img {
  border:solid;
  border-radius: 50px;
}

.languages {
  border-radius: 10px;
  background-color: white;
  margin: 30px;
  width: 350px;
  font-family: sans-serif;
  transition-duration: 0.5s;
}

.languages:hover{
  background-color: aquamarine;
}


.origami {
  border-radius: 20px;
  background-color: white;
  margin: 20px;

  width: 310px;
  font-family: fantasy;
}